Checks:
  # Greedily enable all flags
  - '*'
  # Then disable flags on a per-need basis
  - '-llvm-*'      # We follow our own style, not LLVM's
  - '-altera-*'    # We do not target Intel/Altera FPGA or HLS platforms
  - '-abseil-*'    # We do not use Google's Abseil library
  - '-fuchsia-*'   # We do not target Google's Fuchsia OS
  - '-llvmlibc-*'  # We are not implementing LLVM's libc
